/* Start Global Rules */
:root {
  --main-transition: 0.3s;
  --second-transition: 0.5s;
  --main-color: #19c8fa;
  --transparent-color: rgb(48 121 140 / 70%);
  --p-color: #777;
  --main-radius: 5px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}

.create {
  display: flex;
  width: 100%;
}

#content nav {
  background-color: #249271e8 !important;
}
#content {
  margin: 0;
}
#content .create-forms {
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: rgb(250, 250, 250);
}
#content .create-forms .choises {
  display: flex;
  margin: 0;
  background-color: rgb(211, 206, 206);
  border-radius: 0 0 4px 4px;
}
#content .create-forms .choises .choice {
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}
#content .create-forms .choises .choice:hover {
  background-color: rgb(238, 235, 235);
}
#content .create-forms .choises .choice.active {
  background-color: rgb(250, 250, 250);
  border-top: 3px solid orangered;
}

form.form1 {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
form .form-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
form .form-group {
  padding: 0 10px;
}
form > div:not(:last-child) {
  margin-bottom: 10px;
}

form label {
  font-size: 18px;
}

form .checkboxes {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  font-size: 28px;
  align-items: center;
}
.form-check-input {
  margin-left: 0 !important;
  float: none !important;
}
form .checkboxes .form-check {
  display: flex;
  font-size: 28px;
  align-items: center;
  gap: 10px;
}
form button[type="submit"] {
  font-size: 20px;
  background-color: #055e43e8;
  border: none;
}
form button[type="submit"]:hover {
  background-color: #249271e8;
}

form.form2 {
  display: none;
  padding: 10px 0 20px;
}
form.form2 #activeCheck {
  margin-top: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}
form.form2 .actions {
  display: flex;
  gap: 20px;
  padding: 10px 20px;
}
form.form2 .actions button {
  display: flex;
  align-items: center;
  gap: 6px;
  min-width: 60px;
  background-color: #055e43e8;
  border: none;
}
form.form2 .actions button:hover {
  background-color: #249271e8;
}
